python-dotenv==1.0.1
pydantic==2.10.4
aiohttp==3.11.11
fastapi==0.115.6
langfuse==2.57.1
vertexai==1.71.1
pytz==2024.2
sqlalchemy==2.0.36
pgvector==0.3.6
structlog==24.4.0
psycopg2==2.9.10
uvicorn==0.34.0
streamlit==1.41.1